.friendMessage {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 25px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.friendImageAndText img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    margin-left: 16px;
    flex-shrink: 0;
}

.friendText {
    background-color: #F5F7FB;
    color: black;
    border-radius: 8px;
    padding: 8px 12px;
    position: relative;
}

.friendText:after {
    content: '';
    position: absolute;
    left: -8px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #F5F7FB;
}

.friendName {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.friendMessageText {

}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 17px;
    width: 48px;
    text-align: center;
}
